extends ../index
include mixins.jade

block content
	mixin tabs('log')
	mixin header(title,parents)

	p.alert.alert-info 
		strong Revision history

	table.table
		thead
			tr
				th Date
				th Message
				th Author
				th ID

		tbody
			for rev in revisions
				tr 
					td
						span= moment(rev.time).calendar() 
						&nbsp;
						span.text-muted= "("+moment(rev.time).fromNow()+")"
					td= rev.message
					td= rev.author.toString()
					td: a(href=wiki.url(page,'view',rev.id)).btn.btn-info= rev.id.substr(0,7)
